input,textarea{
    font-size: x-large;
    font-family: "华文楷体", serif;
    width: 90%;
    height: 2rem;
}
table{
    border-collapse: collapse;
    width: 90%;
    height: 40rem;
}
tr,th,td{
    text-align: center;
    /*border: 1px solid green;*/
}
textarea{
    width: 90%;
    height: 5rem;
    resize: none;
}